.full-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.detail-card {
    height: 70vh;
    width: 45vw;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 70vh;
    border: 1px solid gray;
    margin: 1vh;
    
}