.card {
    width: 45vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 30vh;
    border: 1px solid gray;
    margin: 1vh;
}
.card-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-photo {
    display: flex;
    justify-content: center;
}
img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    height: 70%;
}
